<div #scrollContainer class="h-34 bg-macsurface overflow-y-auto rounded-sm p-2">
  <div class="flex flex-col justify-start">
    <div>
      <pre> {{ log }}</pre>
    </div>

    <span class="text-green-400"
      >
      <input
        class="bg-red-900"
        autofocus
        (keydown.enter)="onEnter()"
        type="text"
        [(ngModel)]="command"
        name=""
        value=""
        placeholder="comando"
      />
    </span>
  </div>
</div>

@for (item of items; track item.id.channelId) {
  <div class="result-box">
    <div class="flex flex-row items-center gap-2">
      <img class="result-img" [src]="item.snippet.thumbnails.default.url" alt="  " />

      <div>{{ item.snippet.channelTitle }}</div>
      <button type="button"></button>
    </div>

    <div class="mt-2 flex flex-col gap-1">
      <div class="subtitle text-violet-500">󰜝 Fecha de creación:</div>
      <div class="flex flex-col">
        <div>{{ item.snippet.publishTime }}</div>
      </div>
      <div class="subtitle text-teal-500"> Descripción:</div>
      <div>
        {{ item.snippet.description }}
      </div>
    </div>
  </div>
} @empty {
  <div>No se encontraron resultados.</div>
}

@if (itemsGithub) {
  <div class="result-box">
    <div class="flex flex-row items-center gap-2">
      <img [src]="itemsGithub.avatar_url" alt="  " class="result-img" />
      <div class="flex flex-col">
        <div class="flex gap-1">
          <span class="subtitle"></span>
          <span class="subtitle"> Usuario: </span>
        </div>
        <a class="ml-3" href="{{ itemsGithub.html_url }}" target="_blank"
          >{{ itemsGithub.login }}
        </a>
      </div>
    </div>

    <div>
      <span>Nombre:</span>
      {{ itemsGithub.name }}
    </div>

    <div>
      <span>Seguidores:</span>
      {{ itemsGithub.followers }}
    </div>
    <div>
      <span>Seguidos:</span>
      {{ itemsGithub.following }}
    </div>
    <div>
      <span>Repositorios publicos:</span>
      {{ itemsGithub.public_repos }}
    </div>
    <div>
      <span>Gist publicos:</span>
      {{ itemsGithub.public_gists }}
    </div>

    <div>
      <span>Locacion:</span>
      {{ itemsGithub.location }}
    </div>

    <div>
      <span>Biografia:</span>
      {{ itemsGithub.bio }}
    </div>

    <div>
      <span>Blog:</span>
      {{ itemsGithub.blog }}
    </div>
    <div>
      <span>Fecha de creacion:</span>
      {{ itemsGithub.created_at }}
    </div>

    <div>
      <span>Ultima actividad:</span>
      {{ itemsGithub.updated_at }}
    </div>


  </div>
} @else {
  <div>No se encontraron resultados. github</div>
}
