<div #scrollContainer class="h-34 overflow-y-auto rounded-sm bg-macsurface p-2">
  <div class="flex flex-col justify-start">
    <div>
      <pre> {{ log }}</pre>
    </div>

    <span class="text-green-400"
      >
      <input
        class="bg-red-900"
        autofocus
        (keydown.enter)="onEnter()"
        type="text"
        [(ngModel)]="command"
        name=""
        value=""
        placeholder="comando"
      />
    </span>
  </div>
</div>

@for (item of items; track item.id.channelId) {
  <div class="result-box">
    <div class="flex flex-row items-center gap-2">
      <img class="result-img" [src]="item.snippet.thumbnails.default.url" alt="  " />

      <div>{{ item.snippet.channelTitle }}</div>
      <button type="button"></button>
    </div>

    <div class="mt-2 flex flex-col gap-1">
      <div class="subtitle text-violet-500">󰜝 Fecha de creación:</div>
      <div class="flex flex-col">
        <div>{{ item.snippet.publishTime }}</div>
      </div>
      <div class="subtitle text-teal-500"> Descripción:</div>
      <div>
        {{ item.snippet.description }}
      </div>
    </div>
  </div>
} @empty {
  <!-- <div>No se encontraron resultados.</div> -->
}

@if (itemsGithub) {
  <div>
    demo
    <div class="mt-4 flex flex-row gap-2">
      <div class="infoBox flex">
        <div class="flex flex-col items-center justify-start border-r border-dashed p-2">
          <div class="flex flex-col items-center justify-start">
            <div class="mb-2 font-bold"> {{ itemsGithub.login }}</div>
            <img [src]="itemsGithub.avatar_url" alt="  " class="result-img" />
            <div class="mt-2 text-[10px]">
              {{ itemsGithub.name }}
            </div>
          </div>
        </div>

        <div class="">
          <div class="border-b border-dashed p-2">
            <span class="subtitle">Datos</span>
            <div class="flex flex-col gap-1 text-[12px]">
              <div><span>Locacion:</span> {{ itemsGithub.location }}</div>
              <div>
                <span>Biografia:</span>
                {{ itemsGithub.bio }}
              </div>
              <div>
                <span>Blog:</span>
                {{ itemsGithub.blog }}
              </div>
            </div>
          </div>
          <div class="p-2">
            <span class="subtitle">Github</span>
            <div class="flex flex-col gap-1 text-[12px]">
              <div>
                <span>Followers:</span>
                {{ itemsGithub.followers }}
              </div>
              <div>
                <span>Following:</span>
                {{ itemsGithub.following }}
              </div>
              <div>
                <span>Public repos:</span>
                {{ itemsGithub.public_repos }}
              </div>
              <div>
                <span>Public Gits:</span>
                {{ itemsGithub.public_gists }}
              </div>

              <div>
                <span>Created:</span>
                {{ itemsGithub.created_at }}
              </div>

              <div>
                <span>Updated:</span>
                {{ itemsGithub.updated_at }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
} @else {
  <!-- <div>No se encontraron resultados. github</div> -->
}
