input {
  border: none; /* Sin borde */
  background: none; /* Sin fondo */
  outline: none; /* Sin contorno al hacer focus */
  box-shadow: none; /* Sin sombras */
  padding: 0;
  margin: 0;
  font: inherit; /* Usa la fuente del contenedor */
  color: inherit; /* Usa el color del contenedor */
}

/* cuadros de respuesta   / */
.result-box {
  border: solid 1px #444;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}
.result-img {
  border-radius: 5px;
  width: 30px;
  background: #222;
}

.subtitle {
  font-weight: bold;
}
